$app-background: darkblue;
$app-foreground: rgb(255, 255, 85);

$app-separator-background: grey;
$app-separator-forground: rgb(232, 232, 232);

$app-softkeys-background: #cccccc;
$app-softkeys-foreground: #323232;
